:root{
    --primary-color:#FF6C00;
    --secondary-color:#999ba5;
    --detail-color:#6d6f7d;
    --hero-color:rgba(229, 229, 229,.7);
    --custom-dark:#303030;
    --custom-light:#F7F7F7;
}

*{
    font-family: 'Roboto', sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
html{
    margin: 0;
    padding: 0;
}
h1{
    color: var(--hero-color);
    font-size: 90px;
}

p{
    line-height: 30px;;
}


b{
    color: var(--custom-dark);
    font-size: 42px;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

html{
    box-sizing: border-box;
}

*,*::after,*::before{
    box-sizing: inherit;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

address{
    font-style: normal;
}
h2{
    font-size: 4rem;
} 
.link{
    text-decoration: none;
    color: inherit;
}

.list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.app-section{
    padding: 8rem;
}
.container{
    display: flex;
    flex-wrap:wrap ;
}
.vertical-text{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    padding: 2rem;
}

.text-primary{
    color: var(--primary-color);
}

.text-secondary{
    color: var(--detail-color);
}

.main_aside{
    padding: 2rem;
    width: 10%;
    height: 100vh;
    /* background-color: white; */
    position: relative;
}
.aside_top{
    position: absolute;
    top: 1rem;
}

.aside_bottom{
    position: absolute;
    bottom: 2rem;
}

.aside_link{
    text-decoration: none;
    color: var(--custom-dark);
    font-weight: bold;
}
.aside_link:hover{
    color: var(--primary-color);
    cursor: pointer;
}
.main{
    width:  90%;
    height: 100vh;
    padding: 2rem;
    color: white;
    position: relative;
    background-color: #303030;
    /* Add BG */
    background-image: url("../img/cream.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.main_header{
    /* background-color: rgb(199, 163, 116); */
}

.navbar{
    display: flex;
    flex-wrap: wrap;
}

.header_links{
    width: 70%;
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-between;
    padding: 2rem 10rem;
}

.header_links_itemsref{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

.header_links_itemsref.active{
    color: var(--primary-color);
}

.header_buttons{
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: aquamarine; */

}

.main_button{
    background-color: transparent;
    padding: 12px;
    border-radius: 25px;
    border: 1px solid var(--primary-color);
}
.main_button:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
}
.text-white{
    color: white;
}

.about_section{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.text-section{
    width: 50%;
    padding: 4rem;
    height: 100%;
}
.text-section span p{
color: var(--detail-color);
}
section span{
    font-size: 2rem;
}
section p{
    font-size: 1.5rem;
} 

.img-section{
    width: 50%;
    display: flex;
    justify-content: space-between;
}



.main_text_section{
    height: 80vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main_text_section h1{
    font-size: 6rem;
}

.main_text_section span{
    color: var(--secondary-color);
}

.main_text_section p{
    color: var(--secondary-color);
    font-size: 2rem;
}

.slide_controls{
    width: 10vw;
    position: absolute;
    right: 2rem;
    bottom: 1rem;
    
}

.slide_controlers{
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.slide_controlers li{
    color: var(--secondary-color);
    border-bottom: var(--secondary-color) 1px solid;
    width: 48%;
    padding-bottom: .5rem;
    transition: all .3s;
}

.slide_controlers li:hover{
    color: white;
    border-bottom: white 1px solid;
    cursor: pointer;
}

.slide_controlers li:last-child{
    text-align: right;
}

.main_button.generic{
    color: black;
}

.main_button.generic:hover{
    color: white;
}

.d-blok{
    display: block;
}

.m-auto{
    margin: auto;
}

.services-and-prices-section{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 4, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8rem;
}
.services-and-prices-section > *{
    color: white;
}

.custom-bg-services{
    /* Add Bg */
    background-image: url("../img/aboutbg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.p-0{
    padding: 0;
}

.full-section{
    width: 100%;
    height: 100vh;
}

.all-services{
    padding:2rem 0;
    display: flex; 
}

.all-services > ul{
    width: 45%;
}
.preferences-section{
    display: flex;
    justify-content: space-around;
}
.experience-list{
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.experience-list > .experience-item{
    background-color: var(--custom-light);
    width: 45%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: 1rem;
}

.experience-list > .experience-item:first-child{
    margin-top: -20px;
}
.experience-list > .experience-item:last-child{
    margin-top: 20px;
}

.experience-text{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.our-team-list{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.our-team-cards{
    width: 28%;
    background-color: var(--custom-light);
}

.our-team-cards > img{
    width: 100%;
}

.our-team-cards > .card-body{
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-team-cards > .card-body > span{
    font-size: 16px;
    color: var(--primary-color);
}

.icon-section{
    width: 60%;
    display: flex;
    justify-content: space-around;
    padding: 16px;
}
.icon-section > svg{
    cursor: pointer;
}

.icon-section > svg path{
    fill: var(--custom-dark);
}

.icon-section > svg:hover  path{
    fill: var(--primary-color);
}

.testimony-section-carrousel{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.testimony-section-carrousel >li {
    width: 23%;
}
.testimony-section-carrousel >li>img{
    width: 100%;
}
.resvervations-section{
    width: 50%;
    height: 100vh;
    background-color: #6d6f7d;
}
.contact-section{
    width: 50%;
    height: 100vh;
}
.contact-bg{
    /* Add Bg */
    background-image: url("../img/contactbg.jpg");
    background-position: center;
    background-size: cover;
}
.contact-body{
    background-color: rgba(3, 9, 34, 0.7);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.p-1{
    padding: 16px;
}

.my-1{
    margin: 20PX 0;
}
.addres-section{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-section{
    width: 100%;
    height: 20vh;
    display: flex;
    padding: 48px;
}

.footer-section > span{
    width: 10%;
}

.footer-section > ul{
    width: 90%;
    display: flex;
    flex-direction: row-reverse;
}

.footer-section > ul>li{
    padding: 1rem;
}

.custom-items:hover{
    color: var(--primary-color);
    cursor: pointer;
}

.test-img{
    fill:var(--primary-color)
}

.line-text-decoration::before{
    content: "";
    width: 120px;
    height: 20px;
    display: inline-block;
}

.line-text-decoration::before{
    background-image: url("../img/ico/line.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}